body {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;

}

body h1{
text-align: center;

}

#game-area {
  width: 900px;
  height: 550px;
  margin: 0 auto;
  position: absolute;
  margin-top: 20px;

}
#game-background {
  background-color: rgb(92, 132, 240);
  min-height: 550px;

}

#game-bar-top {
  background-color: orange;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 50px; 
  position: relative;
  top: 0;
  z-index: 1;
}

li{
  display: inline;
  float: left;
}

.game-title {
  position: relative;
  top: -50px;
  text-align: center;
  color: orange;
}
.game-title h2{
  font-size: 30px;
  margin-top: -10px;
}

.game-title h4 {
  font-size: 20px;
  margin-top: -13px;

}
button {
  height: 35px;
  width: 150px;
  background-color: orange;
  color: white;
  font-size: 20px;
  margin-top: -15px;
  font-family: 'Indie Flower', cursive;
}

#playerone-box {
  position: relative;
  top: 0;
  left: 0px;
  height: 50px;
  width:100px;
  background-color: orange;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}
#playerone-box h4{
  font-size: 18px;
  margin-left: 5px;
  color: white;
}
#player-one-score{
  margin-top: -35px;
  margin-left: 40px;
  color: white;
  font-size: 30px;
}

#playertwo-box {
  position: relative;
  top: -74px;
  left: 800px;
  height:50px;
  width: 100px;
  background-color: orange;
  border-bottom-left-radius: 10px;
  box-shadow: -5px 5px 5px #000;
  
}
#playertwo-box h4{
  font-size: 18px;
  color: white;
  margin-left: 5px;
}
#player-two-score{
  margin-top: -35px;
  margin-left: 40px;
  color: white;
  font-size: 30px;
}

#duck-one {
  position: relative;
  top: 230px;
  left: 3px;

}
#duck-two {
  position: relative;
  top: 230px;
  left: 700px;
}

#duck-three {
  position: relative;
  top: 230px;
  left: -190px;

}
#duck-four {
  position: relative;
  top: 230px;
  left: 500px;
}

#grass-area {
  position: relative;
  top: 46px;
  background-image: url(../images/grass900px.png);
  height: 182px;
  
}
.ducks:hover {
  cursor: crosshair;
}

/*.img {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}*/

